@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/dosis.woff) format('woff');
}

*{
	font-family: Dosis, Sans-serif;
	margin: 0px;
	padding: 0px;
}

header{
	padding: 20px 0px;
	background: orange;
}
div.main_content_wrapper{
	background: silver;
}

div.content_wrapper{
	width: 60%;
	float: left;
	background: #ddd;
}
aside{
	width: 40%;
	float: left;
	background: gray;
}
aside ul li{
	list-style-position: inside;
	list-style-type: circle;
}